# General
.DS_Store
*.log

# Next / Frontend
node_modules/
.next/
out/
build/
coverage/
.env*
/frontend/.env*
/backend/.env*

# Go / Backend
*.exe
*.out
*.test
backend/main

# Docker
pgdata/

# IDEs
.vscode/
.idea/
*.swp
